@{
    ViewData["Title"] = "Details";
}

@Html.ActionLink("Вернуться к списку", "Index", null)
<table>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.FirstName</td>
        <td>@Model.SurName</td>
        <td>@Model.Patronymic</td>
        <td>@Model.Age</td>
    </tr>
</table>
